/*
 Theme Name:   ProudCity Theme Child
 Theme URI:    http://proudcity.com/developers
 Description:  A subtheme for ProudCity based on wp-proud-theme using Bootstrap
 Author:       ProudCity
 Author URI:   http://proudcity.com
 Template:     wp-proud-theme
 Version:      1.0.0
 License:      GNU Affero General Publis License, version 3
 License URI:  http://www.gnu.org/licenses/agpl-3.0.en.html
 Tags:         proudcity, accessibility-ready
 Text Domain:  wp-proud-theme-starter
*/